.link {
  display: flex;
  align-items: center;
  padding: 0.05rem 0.125rem;
  // border: 1px solid transparent;
  // border-radius: 2px;

  width: fit-content;

  text-decoration: underline;
  cursor: pointer;
  color: #000;
  &:hover {
    // border: 1px solid rgb(148, 205, 255);
    color: rgb(46, 158, 255);
    background-color: rgb(148, 205, 255, 0.1);
  }

  &.primary {
    font-weight: bold;
    letter-spacing: 1px;
    color: rgb(148, 205, 255);
  }

  &.danger {
    color: rgb(255, 0, 0);
  }
  position: relative;
  .linkIcon{
    position: absolute;
    width: 10px;
    height: 10px;
    right: 0px;
    top: -2px;
    color: rgb(115, 202, 252);
  }
}

.button {
  display: flex;
  align-items: center;
  padding: 0.25rem;
  border-radius: 5px;
  cursor: pointer;

  color: black;
  svg {
    color: black;
  }
  border: 1px solid rgb(211, 211, 211);

  &:hover {
    background-color: rgb(196, 206, 214);
  }
  &.primary,&.warning {
    border: none;
    font-weight: bold;
    letter-spacing: 1px;
    background-color: rgb(46, 158, 255);

    color: white;
    svg {
      color: white;
    }
    span {
      color: white;
    }

    &:hover {
      background-color: rgb(0, 119, 255);
    }
  }
  &.warning{
    background-color: rgb(255, 174, 0);
    &:hover {
      background-color: rgba(255, 174, 0, 0.438);
    }
  }
  &.danger {
    border: none;

    color: white;

    svg {
      color: white;
    }
    span {
      color: white;
    }
    background-color: rgb(255, 0, 0);
    &:hover {
      background-color: rgba(255, 0, 0, 0.438);
    }
  }
}

.gap {
  gap: 0.5rem;
}

.disabled {
  cursor: not-allowed;
  color: rgb(211, 211, 211);
  svg {
    color: rgb(211, 211, 211);
  }
  span {
    color: rgb(211, 211, 211);
  }
  &:hover {
    background-color: transparent;
  }
  background-color: rgb(0, 119, 255,.3) !important;
}

.modal.modal {
    max-width: 400px;
    // position: absolute;
    // top:0;
    &::backdrop{
        // mouse-events: none;
        // user-select: none;
        // pointer-events: none;
        // // background-color: rgba(0, 0, 0, 0);
        // backdrop-filter: none;
    }
    border:1px solid rgb(196, 206, 214);
    border-radius: 5px;
    cursor: auto;
    &>div{

        &>span {
            // color: black !important;
        }
    }
}
.base{
    position: relative;
}