.responseControlGroup{
    display: flex;
    gap: 10px;
    // max-width: 500px;
    flex-wrap: wrap;
    // flex-direction: column;
    // margin-bottom: 20px;
    // .responseControl{
    //     display: flex;
    //     flex-direction: row;
    //     align-items: center;
    //     margin-bottom: 10px;
    //     .responseControlLabel{
    //         width: 100px;
    //         margin-right: 10px;
    //     }
    //     .responseControlInput{
    //         flex: 1;
    //     }
    // }
}