.container {
  display: flex;
  height: 100%;
  justify-content: center;
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;

    gap: 0.5rem;
    background-color: #e4e4e4;
    border-radius: 0.5rem;
    border: 0.5rem dotted rgba(0, 0, 0, 0.228);
    max-width: 30rem;
  }
  .title {
    font-size: 1.5rem;
    font-weight: 600;
  }
}
